*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: rgb(61, 37, 139);
    color: white;
}

#content
{
    margin-top: 57px;
    font-size: 40px;
    text-align: center;
    font-family: sans-serif;
}
.form
{
    position: absolute;
    top: 35%;
    left: 30%;
}
.form
{
    display: flex;
    align-items: center;
}
input[type='text']
{
    padding: 15px 45px;
    font-size: 18px;
    border: none;
    position: relative;
}
input[type='text']:focus
{
    outline: none;
}
.a i
{
    background-color: black;
    cursor: pointer;
    position: absolute;
    left: 51.5%;
    padding: 17.5px;
}
.b
{
    margin-left: 57px;
}
.b p
{
    padding: 15px 112px 15px 12px;
    background-color: white;
    color: black;
    font-family: sans-serif;
    float: left;
    position: relative;
    font-weight: bold;
    /* tepa o`ng past chap */
}
.b i
{
    position: absolute;
    left: 91.5%;
    background-color: black;
    color: white;
    padding: 16px;
    cursor: pointer;
}
.texts
{
    position: absolute;
    top: 45%;
    left: 39%;
}
.texts .row
{
    animation: animate 0.45s ease-in;
}
li
{
    list-style: none;
    padding: 14px 75px 14px 12px;
    font-size: 18px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    float: left;
}
.texts .check1
{
    background-color: rgb(16, 165, 16);
    color: white;
    padding: 16.5px;
    cursor: pointer;
}
.texts .trash1
{
    background-color: red;
    color: white;
    padding: 16.5px;
    cursor: pointer;
    margin-bottom: 10px;
}
.complete
{
    opacity: 0.5;
}

@keyframes animate
{
    from
    {
        transform: scale(0);
    }
    to
    {
        transform: scale(1);
    }
}